
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 20px;
    
}


h1 {
    color: #1e3c61;      
    margin-top: 30px;
    font-size: 1.5em;
}


p {
    background-color: #ffffff;  
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
}


